* {
  font-family: "Rubik";
  font-size: 18px;
  font-weight: 400;
  color: hsl(0, 0%, 17%);
}
p{
    margin-top: 10px;
    color: hsl(0, 0%, 59%);
}
h1 {
  font-weight: 500;
}
th {
  font-weight: 700;
}
td {
  max-width: 22vw;
}
button {
  margin: 2px;
}
table {
  margin-top: 10px;
  overflow-x: scroll;
 
}
.main-container {
  max-width: 1440px;
  margin: auto;
  overflow-x: hidden;
}
.top-container {
  display: flex;
  justify-content: space-between;
}
.search-form {
  min-width: 350px;
}
.table-wrapper{
    width: 100%;
    overflow-x: scroll;
}
@media (max-width: 375px) {
  
}
@media (max-width: 600px) {
  .top-container {
    display: block;
  }
  .search-form{
    margin-top: 10px;
  }
}
